<ul class="org-list">
  {% for entry in site.data.education %}
    <li class="org-item">
      {% if entry.logo %}
        <img class="org-logo" src="{{ '/assets/img/logos/' | append: entry.logo | relative_url }}" alt="{{ entry.institution }}">
      {% endif %}
      <div class="org-details">
        <div class="org-name">{{ entry.institution }}</div>
        {% for line in entry.entries %}
          <div class="org-info">{{ line }}</div>
        {% endfor %}
        {% if entry.gpa or entry.scholarship %}
          <div class="org-info-light">
            {% if entry.gpa %}{{ entry.gpa }}{% endif %}
            {% if entry.gpa and entry.scholarship %} | {% endif %}
            {% if entry.scholarship %}{{ entry.scholarship }}{% endif %}
          </div>
        {% endif %}
        {% if entry.courses %}
          <div class="org-info-light"><em>Courses:</em> {{ entry.courses }}</div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
