<ul class="org-list">
  {% for entry in site.data.employment %}
    <li class="org-item">
      {% if entry.logo %}
        <img class="org-logo" src="{{ '/assets/img/logos/' | append: entry.logo | relative_url }}" alt="{{ entry.company }}">
      {% endif %}
      <div class="org-details">
        <div class="org-name">{{ entry.title }}</div>
        <div class="org-info">{{ entry.company }}</div>
        <div class="org-info-light">{{ entry.entries[0] }}{% if entry.address %} &nbsp;<i class="fa-solid fa-location-dot" style="font-size: 0.8rem;"></i> {{ entry.address }}{% endif %}</div>
        {% for line in entry.entries offset: 1 %}
          <div class="org-info">{{ line }}</div>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
