<div class="col">
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card hoverable" style="position: relative;">
      {% if project.tag %}
        <span class="project-tag">{{ project.tag }}</span>
      {% endif %}
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        {% if project.tech %}
          <div class="project-tech">
            {% for t in project.tech %}
              <span class="tech-tag">
                {% if t.icon %}
                  <img class="tech-icon" src="https://skillicons.dev/icons?i={{ t.icon }}&theme=light" alt="{{ t.name }}">
                {% elsif t.fa_icon %}
                  <i class="{{ t.fa_icon }} tech-icon-fa"></i>
                {% endif %}
                {{ t.name }}
              </span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </a>
</div>
